<a href="https://colab.research.google.com/github/Porxelek/Statistics/blob/main/Statistics_Assignment_5_(Hypothesis_Tests).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Statistics Assignment-5 (Hypothesis Tests)**

In [4]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy
from scipy import stats

import warnings
warnings.filterwarnings('ignore')

EXERCISE 1.
The hourly wages in a particular industry are normally distributed with mean \$13.20 and standard deviation \$2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an Î± = .01 level test. (Wackerly, Ex.10.18) \
CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [5]:
n = 40
wage_mean = 13.20
sd = 2.50
mu = 12.20
sigma = sd / np.sqrt(n)
a =0.01

Ho = The employer is innocent \
Ha = The employer is guilty of underpaid wages

In [6]:
# I use the z test because n is greater than 30

z = (mu - wage_mean) / sigma
z

-2.5298221281347035

In [8]:
# p value
p = stats.norm.cdf(z)
p

0.005706018193000826

Result

In [9]:
if p < a :
  print("The employer is guilty of underpaid wages")
else :
  print("The employer is innocent")

The employer is guilty of underpaid wages

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level? \
CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [28]:
df0 =pd.read_excel("soil.xlsx")
df = df0.copy()
df.sample(5)

    Soil1  Soil2
7   1.347  1.373
27  1.740  1.379
16  1.589  1.542
9   1.578  1.714
11  1.653  1.492

In [29]:
df.Soil1.isnull().sum()

5

In [30]:
df.Soil2.isnull().sum()

0

In [33]:
a = df.Soil1[df.Soil1. notnull()]

In [34]:
soil1 = len(a)
soil2 = len(df.Soil2)
soil1, soil2

(30, 35)

H0:m1=m2 \

H1:m!=m2

In [35]:
t_test = stats.ttest_ind(a, df.Soil2)
t_test

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [36]:
a = 0.01
pvalue = 2.593228732352821e-06
if pvalue < a :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.

1. Get descriptive statistics (the central tendency, dispersion and shape of a datasetâs distribution) for each continent group (AS, EU, AF, NA, SA, OC).
2. Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots. 

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [37]:
df0 = pd.read_excel("2015 PISA Test.xlsx")
df = df0.copy()
df.sample(5)

   Country Code Continent_Code  ...   Reading   Science
40          LTU             EU  ...  472.4066  475.4089
22          FIN             EU  ...  526.4247  530.6612
58          RUS             EU  ...  494.6278  486.6310
3           AUS             OC  ...  502.9006  509.9939
7           BRA             SA  ...  407.3486  400.6821

[5 rows x 6 columns]

In [41]:
df.describe()

       internet_users_per_100        Math     Reading     Science
count               70.000000   70.000000   70.000000   70.000000
mean                71.973099  460.971557  460.997291  465.439093
std                 16.390632   53.327205   49.502679   48.397254
min                 21.976068  327.702000  346.549000  331.638800
25%                 60.899020  417.416075  426.948625  425.923375
50%                 72.999350  477.607150  480.199850  475.400050
75%                 85.026763  500.482925  499.687475  502.431250
max                 98.200000  564.189700  535.100200  555.574700

In [42]:
df.groupby("Continent_Code").describe().T

Continent_Code                        AF          AS  ...          OC          SA
internet_users_per_100 count    2.000000   17.000000  ...    2.000000    7.000000
                       mean    43.359918   68.455613  ...   86.391704   60.180494
                       std      7.297226   21.086060  ...    2.589686    9.772455
                       min     38.200000   21.976068  ...   84.560519   40.900000
                       25%     40.779959   50.300000  ...   85.476112   57.116462
                       50%     43.359918   74.000000  ...   86.391704   64.289000
                       75%     45.939877   84.948353  ...   87.307296   66.321532
                       max     48.519836   92.884826  ...   88.222889   69.198471
Math                   count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   363.212100  466.216647  ...  494.559750  402.887700
                       std      5.099513   64.356490  ...    0.938401   18.128894
                       min    359.606200  380.259000  ...  493.896200  377.069500
                       25%    361.409150  403.833200  ...  494.227975  388.102200
                       50%    363.212100  459.816000  ...  494.559750  409.033300
                       75%    365.015050  531.296100  ...  494.891525  417.617650
                       max    366.818000  564.189700  ...  495.223300  422.671400
Reading                count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   355.457400  454.059682  ...  506.085650  425.359229
                       std      7.916909   57.048962  ...    4.504341   19.709688
                       min    349.859300  346.549000  ...  502.900600  397.541400
                       25%    352.658350  408.102200  ...  504.493125  416.126900
                       50%    355.457400  433.542300  ...  506.085650  425.303100
                       75%    358.256450  508.690500  ...  507.678175  431.922700
                       max    361.055500  535.100200  ...  509.270700  458.570900
Science                count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   381.074250  467.945847  ...  511.648700  421.747186
                       std      7.536556   56.671371  ...    2.340241   18.470319
                       min    375.745100  386.485400  ...  509.993900  396.683600
                       25%    378.409675  417.611200  ...  510.821300  408.205450
                       50%    381.074250  456.483600  ...  511.648700  424.590500
                       75%    383.738825  523.277400  ...  512.476100  433.794600
                       max    386.403400  555.574700  ...  513.303500  446.956100

[32 rows x 5 columns]

In [45]:
df.isnull().sum()

Country Code              0
Continent_Code            5
internet_users_per_100    0
Math                      0
Reading                   0
Science                   0
dtype: int64

In [47]:
df[df["Continent_Code"] == "EU"]["Math"].isnull().sum()

0

In [48]:
df[df["Continent_Code"] == "AS"]["Math"].isnull().sum()

0

In [50]:
eu_n = len(df[df["Continent_Code"] == "EU"])
eu_n

37

In [51]:
as_n = len(df[df["Continent_Code"] == "AS"])
as_n

17

H0: m1=m2 


H1: m1!=m2

In [58]:
t_test = stats.ttest_ind(df[df["Continent_Code"] == "EU"]["Math"], df[df["Continent_Code"]=="AS"]["Math"])
t_test

Ttest_indResult(statistic=0.8700553179679787, pvalue=0.38826888111307556)

In [59]:
a = 0.05
pvalue = 0.38826888111307556
if pvalue < a :
  print("reject the null")
else:
  print("fail to reject the null")

fail to reject the null

EXERCISE 4.

The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

In [60]:
df0 = pd.read_excel("students_2014.xlsx")
df = df0.copy()
df.sample(5)

         ids       bday enrolldate  ... CommuteTime  SleepTime StudyTime
248  29009.0 1992-09-17 2013-08-05  ...         NaN        3.0       3.0
145  36524.0 1993-06-18 2014-08-04  ...         NaN        5.0       2.0
410  42826.0 1990-04-03 2011-08-01  ...        53.0        5.0       5.0
382  34469.0 1991-07-14 2011-08-01  ...        32.0        5.0      14.0
246  49386.0 1993-01-11 2013-08-05  ...         NaN        6.0      11.0

[5 rows x 23 columns]

In [64]:
df_em = pd.DataFrame(df.loc[:,["English","Math"]])
df_em

     English   Math
0      88.24  60.02
1      89.45  70.19
2      96.73  71.20
3      74.06  55.89
4      82.61  65.52
..       ...    ...
430    87.72  65.31
431    91.01  70.25
432    81.05  58.16
433    75.59  66.84
434    75.65  60.24

[435 rows x 2 columns]

In [71]:
df_em.isnull().sum()

English    26
Math       13
dtype: int64

In [72]:
df_drop_en = df.English.dropna()
df_drop_en

0      88.24
1      89.45
2      96.73
3      74.06
4      82.61
       ...
430    87.72
431    91.01
432    81.05
433    75.59
434    75.65
Name: English, Length: 409, dtype: float64

In [73]:
df_drop_mat = df.Math.dropna()
df_drop_mat

0      60.02
1      70.19
2      71.20
3      55.89
4      65.52
       ...
430    65.31
431    70.25
432    58.16
433    66.84
434    60.24
Name: Math, Length: 422, dtype: float64

 H0: m1=m2 
 
 H1: m1!=m2

In [75]:
test = stats.ttest_ind(df_drop_en, df_drop_mat)
test

Ttest_indResult(statistic=32.59188089176449, pvalue=1.2521075466222401e-150)

In [76]:
a = 0.01
pvalue = 1.2521075466222401e-150
if pvalue < a :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null